<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{/layout/fragments :: htmlHead('부서 상세')}"></head>
    <body>
        <th:block th:replace="~{/layout/fragments :: pageHeader('부서 상세 페이지')}"></th:block>
        <main class="mt-2">
            <section class="mt-2">
                <div class="card">
                    <div class="card-header">
                        <h2>부서 상세 정보</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <tbody th:object="${department}">
                                <tr>
                                    <th>번호</th>
                                    <td th:text="*{departmentId}"></td>
                                </tr>
                                <tr>
                                    <th>이름</th>
                                    <td th:text="*{departmentName}"></td>
                                </tr>
                                <tr>
                                    <th>매니저</th>
                                    <td>
                                        <th:block th:if="*{manager != null}">
                                            <a th:href="@{/emp/details/{id}(id=*{manager.id})}"
                                                th:text="|*{manager.firstName} *{manager.lastName}|"></a>
                                        </th:block>
                                    </td>
                                </tr>
                                <tr>
                                    <th>위치</th>
                                    <td th:text="|*{location.streetAddress}, *{location.city}, *{location.stateProvince}, *{location.country.id}|"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="mt-2">
                <div class="card">
                    <div class="card-header">
                        <h2>직원 목록</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>사번</th>
                                    <th>이름</th>
                                    <th>이메일</th>
                                    <th>전화번호</th>
                                    <th>입사날짜</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="emp : ${department.employees}" th:object="${emp}">
                                    <td th:text="*{id}"></td>
                                    <td th:text="|*{firstName} *{lastName}|"></td>
                                    <td th:text="*{email}"></td>
                                    <td th:text="*{phoneNumber}"></td>
                                    <td th:text="*{hireDate}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
