<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Spring Boot 1</title>
    </head>
    <body>
        <!-- thymeleaf fragment expressions: -->
        <div th:replace="~{/layout/header :: myHeader}"></div>
    
        <h1>첫번째 스프링 부트 프로젝트</h1>
        <!-- thymeleaf variable expressions -->
        <h2 th:text="${currentTime}">현재 시간</h2>
        <h3 th:text="${book}"></h3>
        
        <div>
            ID: <span th:text="${book.id}"></span>
            <br>
            제목: <span th:text="${book.title}"></span>
            <br>
            저자: <span th:text="|${book.author.lastName} ${book.author.firstName}|"></span>
            <br>
        </div>
        
        <div th:object="${book}">
            <!-- thymeleaf selection expressions -->
            ID: <span th:text="*{id}"></span>
            <br>
            TITLE: <span th:text="*{title}"></span>
            <br>
            AUTHOR: <span th:text="|*{author.lastName} *{author.firstName}|"></span>
            <br>
        </div>
    </body>
</html>
